
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    		<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="navbarTop" th:fragment="TopBar">
        <div class="collapse navbar-collapse navbar-top-collapse order-1 order-lg-0 justify-content-center" id="navbarTopCollapse">
          <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
            <div class="collapse navbar-collapse navbar-top-collapse order-1 order-lg-0 justify-content-center" id="navbarTopCollapse">
          <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
            <a class="nav-link lh-1" href="/imperator" role="button"><span class="uil fs-8 me-2 uil-chart-pie"></span>Unit Balance</a>
          </ul>   
          <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
            <a class="nav-link lh-1" href="/imperator/campaign_manager" role="button"><span class="uil fs-8 me-2 uil-chart-pie"></span>Campaign Manager</a>
          </ul>  
          <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
            <a class="nav-link lh-1" href="/imperator/save_impoerter" role="button"><span class="uil fs-8 me-2 uil-chart-pie"></span>Save Importer</a>
          </ul>       
        </div>  
          </ul>
        </div>
      </nav>
</html>